<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<h1>This is index.</h1>

{% from "_form_helper.html" import render_field %}
<form action="/result" method="POST">
  {{ form.csrf_token }}
  <dl>
    {{render_field(form.firstname)}}
    {{render_field(form.lastname)}}
  </dl>
  <p>シーン<br>
    <input type="radio" name="scene" value="s1" checked>シーン1
    <input type="radio" name="scene" value="s2">シーン2
    <input type="radio" name="scene" value="s3">シーン3
    <input type="radio" name="scene" value="s4">シーン4
  </p>
  <input type="submit" value="送信する">
</form>
