[Unit]
Description=uWSGI
After=syslog.target

[Service]
WorkingDirectory=/home/my_app
Environment='PYTHONPATH=/home/my_app/site-packages:/home/my_app/src/image_composition'
ExecStart=/usr/local/bin/uwsgi --ini /home/my_app/uwsgi.ini
#Restart=always
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
